<mat-toolbar color="primary" class="toolbar">
  <mat-icon> map</mat-icon>
  <h2>Mapa świata</h2>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>


  <div class="map">
    <img src="https://i.pinimg.com/originals/40/be/4d/40be4d81dc0b6e62c4c2f5894efd8fcc.jpg" class="map__img" />

    <div class="map__button-container">
      <button mat-mini-fab color="accent" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>


    <div class="map__statistics-container">
      <mat-card class="statistic-card">
        <mat-card-header>
          <mat-card-title class="statistic-title">Lorem ipsum 1</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-slider vertical="true" disabled="true" min="1" max="100" value="60">
          </mat-slider>
        </mat-card-content>
      </mat-card>

      <mat-card class="statistic-card">
        <mat-card-header>
          <mat-card-title class="statistic-title">Lorem ipsum 2</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-slider vertical="true" disabled="true" min="1" max="100" value="30">
          </mat-slider>
        </mat-card-content>
      </mat-card>

      <mat-card class="statistic-card">
        <mat-card-header>
          <mat-card-title class="statistic-title">Lorem ipsum 3</mat-card-title>
        </mat-card-header>
        <mat-card-content class="statistic-content statistic-content--sliders">
          <mat-slider disabled="true" min="1" max="100" value="30">
          </mat-slider>
          <mat-slider disabled="true" min="1" max="100" value="70">
          </mat-slider>
          <mat-slider disabled="true" min="1" max="100" value="10">
          </mat-slider>
        </mat-card-content>
      </mat-card>

      <mat-card class="statistic-card">
        <mat-card-header>
          <mat-card-title class="statistic-title">Lorem ipsum 4</mat-card-title>
        </mat-card-header>
        <app-pie-chart></app-pie-chart>
      </mat-card>
    </div>
  </div>

  <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
    <p style="font-size: xx-large;">Lorem ipsum</p>



    <form [formGroup]="sideNavForm" class="form">

      <div class="form__inputs">
        <mat-form-field>
          <mat-label>Podaj wartość</mat-label>
          <input matInput type="text" formControlName="firstValue">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Wybierz opcję</mat-label>
          <mat-select formControlName="optionValue">
            <mat-option *ngFor="let option of options" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-radio-group class="radio-group" formControlName="checkboxValue">
          Lorem ipsum?
          <div class="radio-group__values">
            <mat-radio-button value="1">Tak</mat-radio-button>
            <mat-radio-button value="2">Nie</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>

      <div class="buttons-container">
        <button mat-raised-button color="primary" (click)="submit()" [disabled]="sideNavForm.invalid">
          <mat-icon>check</mat-icon>
          Zapisz
        </button>
        <button mat-raised-button color="warn" (click)="drawer.toggle(); sideNavForm.reset()">
          <mat-icon>close</mat-icon>
          Anuluj
        </button>
      </div>
    </form>
  </mat-drawer>
</mat-drawer-container>
