/* You can add global styles to this file, and also import other style files */
@import "~ol/ol.css";
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.locate {
  top: 6em;
  left: 0.5em;
}
